@model MyAnimeList.Models.Anime

@{
    ViewData["Title"] = "Anime Details";
}

<div class="row">
    <div class="col-md-12 mb-3">
        <h2>@Model.Title</h2>
    </div>
    <div class="col">
        <img src="@Model.ImageURL" alt="@Model.Title" style="width: 300px;" class="img-fluid mb-3">
    </div>
    <div class="col-6">
        <div>
            <p><strong>Genre:</strong> @Model.Genre</p>
            <p><strong>Rating:</strong> @Model.Rating</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <a asp-controller="Anime" asp-action="Edit" asp-route-id="@Model.AnimeID" class="btn btn-warning">Edit</a>
        </div>
    </div>
    <div class="col">
    </div>
</div>