@model List<Anime>

@{
    ViewData["Title"] = "Anime List";
}



<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h2 class="mb-4">Anime List</h2>
        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">AnimeID</th>
                            <th class="text-center">Preview</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Genre</th>
                            <th class="text-center">Rating</th>

                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var anime in Model)
                        {
                            <tr>
                                <td class="text-center">@anime.AnimeID</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(anime.ImageURL))
                                    {
                                        <a asp-controller="Anime" asp-action="AnimeDetails" asp-route-AnimeID="@anime.AnimeID">
                                            <img src="@anime.ImageURL" alt="@anime.Title" class="img-thumbnail" style="max-wAnimeIDth: 100px; max-height: 100px;">
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Anime" asp-action="AnimeDetails" asp-route-AnimeID="@anime.AnimeID" class="btn btn-link text-decoration-none">
                                        <strong>@anime.Title</strong>
                                    </a>
                                </td>
                                <td>@anime.Genre</td>
                                <td class="text-center">@anime.Rating</td>

                                <!-- Add more columns as needed -->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>